.heroes
  position: relative
  background: #6E6E6E
  min-height: 100vh
  &__back-to-main
    position: fixed
    top: 23px
    left: 15px
    cursor: pointer
    &>img
      width: 50px
      height: 40px
      transform: rotate(90deg)
  &__name
    font-style: normal
    font-weight: bold
    font-size: calc(35rem / 14)
    text-align: center
    color: #D9DAD2
    margin: 0
    padding: calc(20rem / 14) 0 calc(40rem / 14)
  &__section
    position: relative
    min-height: 100vh
    padding-top: 2rem
    display: flex
    flex-direction: column
    justify-content: center
    &__bg
      &:nth-of-type(odd)
        background: url(../img/bg.jpg) center / cover no-repeat 
      &:nth-of-type(even)
        background: url(../img/revers_bg.jpg) center / cover no-repeat 
    &__content
      display: flex
      justify-content: space-between
      &--left>.heroes__section__content__img-box
        margin-right: calc(50rem / 14)
      &--right
        flex-direction: row-reverse
        &>.heroes__section__content__img-box
          margin-left: calc(50rem / 14)
      &__img-box
        min-width: 45%
        height: 65vh
        &--full
          margin: auto
          min-width: 90%
          height: 65vh
      &__img
        display: block
        margin: auto
        height: 100%
        max-height: 65vh
      &__img-sign
        text-align: center
        color: #D9DAD2
        font-size: 1.3rem
      &__text
        &--left
          margin-right: 2rem
        &--right
          margin-left: 2rem
      &__subtitle
        margin-top: 4rem
        font-style: normal
        font-weight: normal
        font-size: calc(25rem / 14)
        line-height: 1.2
        text-align: center
        color: #D9DAD2
      &>p
        font-style: normal
        font-weight: normal
        font-size: calc(25rem / 14)
        line-height: 1.2
        text-align: justify
        color: #D9DAD2
  &__arrow-down
    width: 50px
    height: 50px
    &-box
      position: absolute
      display: inline
      right: 0
      bottom: 30px
      padding: 10px
      cursor: pointer
      opacity: 0.5
      transition: 0.3s
      &:hover
        opacity: 1

.medals
  &__name
    font-style: normal
    font-weight: normal
    font-size: calc(40rem / 14)
    line-height: calc(45rem / 14)
    text-align: center
    color: #D9DAD2
    &>span
      font-size: calc(30rem / 14)
  &__text
    margin: 0 auto 3rem
    max-width: 700px
    font-style: normal
    font-weight: normal
    font-size: calc(30rem / 14)
    line-height: calc(45rem / 14)
    text-align: center
    color: #D9DAD2

@media screen and ( max-height: 650px )
    .medals
      &__name
        font-size: calc(37rem / 14)
        line-height: calc(39rem / 14)
        &>span
          font-size: calc(25rem / 14)

      &__text
        margin-top: 2rem
        font-size: calc(25rem / 14)
        line-height: calc(30rem / 14)

@media screen and ( max-width: 860px )
  .heroes__arrow-down-box
    display: none
  .heroes
    &__section
      min-height: auto
      &__content
        flex-direction: column
        height: auto
        &>p
          text-align: center
        &__img-box
          min-width: 45%
          height: auto
          &--full
            margin: auto
            height: auto
        &__img
          margin: auto
          height: 100%
          max-height: 100vh 
          width: 100%
          max-width: 95vw
        &--left>.heroes__section__content__img-box
          margin: 1rem auto
        &--right>.heroes__section__content__img-box
          margin: 1rem auto
        &__text
          &--left
            margin-right: 0
            margin-bottom: 2rem
          &--right
            margin-left: 0
            margin-bottom: 2rem
    &__name
      margin-top: 3rem
  .medals
    &__name
      font-size: calc(27rem / 14)
      line-height: calc(29rem / 14)
      &>span
        font-size: calc(20rem / 14)

    &__text
      margin-top: 2rem
      font-size: calc(20rem / 14)
      line-height: calc(25rem / 14)
  .tape-box
    margin-bottom: 17%

@media screen and ( max-width: 560px )
  .heroes
    &__name
      padding: calc(10rem / 14) 0 calc(20rem / 14)
    &__section
      &__content
        flex-direction: column
        &>p
          font-size: calc(16rem / 14)

.whoWrote-byWhom
  position: absolute
  top: 0
  right: 0
  padding: 0 1rem
  width: 225px
  text-align: center
  background: linear-gradient(to left, #7c7979, #00000000);
.whoWrote
  color: #ffffff8c
.byWhom
  color: #ffffff8c


@media screen and ( max-width: 860px )
  .whoWrote-byWhom
    width: 100vw
    right: auto
    margin-left: auto;
    margin-right: auto;

    